.DS_Store

.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# they are too big for github
checkpoints/
test_results/
temp/
results_loss_scaled/
results_loss_unscaled/
results.txt
minmax/
standard_unscaled/
minmax_IT/
standard_unscaled_IT/
results_transformers/

# Notebooks
0a.Data_selection.ipynb
2.Base_models copy.ipynb