matplotlib==3.7.0
numpy==1.26.4
pandas==1.5.3
pmdarima==2.0.4
ptflops==0.7.3
ray==2.36.0
scikit_learn==1.2.2
seaborn==0.13.2
sktime==0.26.0
statsmodels==0.13.5
torch==2.2.2
tensorflow==2.18.0
feature_engine==1.6.1

# For TimeLLM
accelerate==0.28.0
transformers==4.31.0
peft==0.4.0 # requires python >=3.7.0
deepspeed==0.14.0
einops==0.7.0
tqdm==4.65.0
sentencepiece==0.2.0
mpi4py-mpich==3.1.5
#torchaudio==2.2.2 
#torchvision==0.17.2 